<link rel="stylesheet" href="/css/feed-base.css">
<link rel="stylesheet" href="/css/feed-vendor.css">
<link rel="stylesheet" href="/css/feed-main.css"> 

<script src="/js/feed-modernizr.js"></script>
<script src="/js/feed-pace.min.js"></script>

<section class="s-content">
<div class="row">
    <div class="col-full">
       

        <form id="upload" action="/upload" method="post" name="upload" enctype="multipart/form-data">
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input" name="file">
                <span class="custom-file-control"></span>
            </label>
            <label for="inputType">Input Type</label>
            <select class="inputType custom-select" name="inputType">
              <option value="Text">Text</option>
              <option value="LinkToSite">Link to Site</option>
              <option value="Picture">Picture</option>
              <option value="Video">Video</option>
              <option value="Audio">Audio</option>
            </select>
            <label for="gradelevel">Grade Level</label>
            <select class="gradelevel custom-select" name="gradelevel">
              <option value="PreK-2">PreK - 2</option>
              <option value="Grades3-5">Grades 3 - 5</option>
              <option value="MiddleSchool">Middle School</option>
              <option value="HighSchool">High School</option>
              <option value="HomeSchooler">Homeschooler</option>
            </select>
            <label for="subject">Subject</label>
            <select multiple class="subject form-control" name="subject">
                <option value="Engineering">Engineering</option>
                <option value="Science">Science</option>
                <option value="Mathematics">Mathematics</option>
                <option value="English">English</option>
                <option value="SocialStudies">Social Studies</option>
                <option value="ForeignLanguage">Foreign Language</option>
                <option value="Health">Health</option>
                <option value="Art&Music">Art & Music</option>
            </select>
            <textarea class="full-width" placeholder="What's on your mind?" id="note" name="note"></textarea>

            <div>
            <button type="submit">
              Submit
            </button>
          </div>
        </form>
    </div>
</div>

</section>