<link rel="stylesheet" type="text/css" href="/css/util.css">s
<link rel="stylesheet" type="text/css" href="/css/login.css">
  
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form id="sign-up" class="login100-form validate-form" action="/sign-up" method="post" name="login">
          <span class="login100-form-title p-b-34">
            Account SignUp
          </span>
          
          {{#each error}}
            <div class="alert alert-danger">{{this}}</div>
          {{/each}}

          <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type first name">
            <input class="input100 inputfield" type="text" name="firstname" placeholder="First Name">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type last name">
            <input class="input100 inputfield" type="text" name="lastname" placeholder="Last Name">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type email">
            <input class="input100 inputfield" type="email" name="email" placeholder="Email">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20 inputfield" data-validate="Type password">
            <input class="input100" type="password" name="password" placeholder="Password">
            <span class="focus-input100"></span>
          </div>
          <label>I teach (You can choose many)</label>
          <select multiple class="subject form-control" name="subject">
            <option value="Engineering">Engineering</option>
            <option value="Science">Science</option>
            <option value="Mathematics">Mathematics</option>
            <option value="English">English</option>
            <option value="SocialStudies">Social Studies</option>
            <option value="ForeignLanguage">Foreign Language</option>
            <option value="Health">Health</option>
            <option value="Art&Music">Art & Music</option>

          </select>
          <p>
            for 

            <select class="gradelevel custom-select" name="gradelevel">
              <option value="PreK-2">PreK - 2</option>
              <option value="Grades3-5">Grades 3 - 5</option>
              <option value="MiddleSchool">Middle School</option>
              <option value="HighSchool">High School</option>
              <option value="HomeSchooler">Homeschooler</option>
            </select>
          </p>
          <p>
            in

            <select class="state custom-select" name="state">
              <option value="Alabama">Alabama</option>
              <option value="Alaska">Alaska</option>
              <option value="Arizona">Arizona</option>
              <option value="Arkansas">Arkansas</option>
              <option value="California">California</option>
              <option value="Colorado">Colorado</option>
              <option value="Connecticut">Connecticut</option>
              <option value="Delaware">Delaware</option>
              <option value="Florida">Florida</option>
              <option value="Georgia">Georgia</option>
              <option value="Hawaii">Hawaii</option>
              <option value="Idaho">Idaho</option>
              <option value="Illinois">Illinois</option>
              <option value="Indiana">Indiana</option>
              <option value="Iowa">Iowa</option>
              <option value="Kansas">Kansas</option>
              <option value="Kentucky">Kentucky</option>
              <option value="Louisiana">Louisiana</option>
              <option value="Maine">Maine</option>
              <option value="Maryland">Maryland</option>
              <option value="Massachusetts">Massachusetts</option>
              <option value="Michigan">Michigan</option>
              <option value="Minnesota">Minnesota</option>
              <option value="Mississippi">Mississippi</option>
              <option value="Missouri">Missouri</option>
              <option value="Montana">Montana</option>
              <option value="Nebraska">Nebraska</option>
              <option value="Nevada">Nevada</option>
              <option value="NewHampshire">New Hampshire</option>
              <option value="NewJersey">New Jersey</option>
              <option value="NewMexico">New Mexico</option>
              <option value="NewYork">New York</option>
              <option value="NorthCarolina">North Carolina</option>
              <option value="NorthDakota">North Dakota</option>
              <option value="Ohio">Ohio</option>
              <option value="Oklahoma">Oklahoma</option>
              <option value="Oregon">Oregon</option>
              <option value="Pennsylvania">Pennsylvania</option>
              <option value="RhodeIsland">Rhode Island</option>
              <option value="SouthCarolina">South Carolina</option>
              <option value="SouthDakota">South Dakota</option>
              <option value="Tennessee">Tennessee</option>
              <option value="Texas">Texas</option>
              <option value="Utah">Utah</option>
              <option value="Vermont">Vermont</option>
              <option value="Virginia">Virginia</option>
              <option value="Washington">Washington</option>
              <option value="WestVirginia">West Virginia</option>
              <option value="Wisconsin">Wisconsin</option>
              <option value="Wyoming">Wyoming</option>
            </select>
          </p>

          <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">
              Sign Up
            </button>
          </div>

          <!--<div class="w-full text-center p-t-27 p-b-239">
            <span class="txt1">
              Forgot
            </span>

            <a href="#" class="txt2">
              User name / password?
            </a>
          </div>-->

          <!--<div class="w-full text-center">
            <a href="#" class="txt3">
              Sign Up
            </a>
          </div>-->
        </form>

        <div class="login100-more" style="background-image: url('images/bg-01.jpg');"></div>
      </div>
    </div>
  </div>

  <script src="/js/login.js"></script>
  <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="/vendor/animsition/js/animsition.min.js"></script>
  <script src="/vendor/bootstrap/js/popper.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/select2/select2.min.js"></script>
  <script src="/vendor/daterangepicker/moment.min.js"></script>
  <script src="/vendor/daterangepicker/daterangepicker.js"></script>
  <script src="/vendor/countdowntime/countdowntime.js"></script>

  
  

 